image boot.vfat {
    vfat {
        label = "EFI"
        files = {
            "efi-part/EFI",
            "rootfs.cpio.gz"
        }
    }
    # 48 MiB: BOOTX64.EFI (kernel, ~12-15 MiB) + rootfs.cpio.gz (~15-20 MiB) + headroom.
    # The remainder of the partition is zero-filled and compresses away completely.
    size = 48M
}

image sb-enema.img {
    hdimage {
        partition-table-type = "gpt"
    }

    partition efi {
        partition-type-uuid = "c12a7328-f81f-11d2-ba4b-00a0c93ec93b"
        bootable = "true"
        image = "boot.vfat"
    }

    partition data {
        partition-type-uuid = "EBD0A0A2-B9E5-4433-87C0-68B6B72699C7"
        image = "sb-enema-exfat.img"
    }
}
